* {
    padding: 0px;
    margin: 0px;
}
.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #f05123, #ea0a0afc);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-list {
    margin-top: 5px;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
}
.header__navbar-item--has-qr:hover .header__qr{
    display: block;
}

.header__navbar-item,
.header__navbar-item-link
.header__navbar-icon-link {
    display: inline-flex;
    align-items: center;
}
.header__navbar-item,
.header__navbar-item-link
 {
    display: inline-block;
    font-size: 1.4rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}
.header__navbar-icon-link:hover
.header__navbar-item:hover,
.header__navbar-item-link:hover {
   color: rgba(255, 255, 255, 0.7);
   cursor: pointer;
}
.header__navbar-item-strong {
    font-weight: 400;
}
.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    border-right: 3px solid grey;
    height: 15px;
    top: 50%;
    right: -9px;
    transform: translateY(-50%);
}
.header__navbar-icon-link {
    color: var(--white-color);
}
.header__navbar-icon {
    font-size: 1.7rem;
    margin: 0 4px;
}
.header__navbar--title--no-pointer {
    cursor: text;
    color: var(--white-color);
}
/* Header QR code */
.header__qr {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 140%;
    padding: 5px 5px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease 0.5s;
}
.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    height: 20px;
    width: 100%;
    left: 0;
    top: -5px;
}
.header__qr-img {
    width: 100%;
}
.header__qr-apps {
display: flex;
justify-content: space-between;
}
.header__qr-download-img {
    height: 16px;
   
}
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}
.header__qr-link:nth-child(2) {
    margin-right: 11px;
}
/*HEADER NOTIFYCAION*/
.header__navbar-item--has-notify:hover .header__notify{
    display: block;
}
.header__notify {
    position: absolute;
    top: 170%;
    width: 400px;
    background-color: var(--white-color);
    right: 0;
    border: 1px solid #D3D3D3;
    cursor: normal;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    
    will-change: opacity, transform;
    display: none;
}

@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
    
}
.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 26px;
    position: absolute;
    border-color: transparent transparent var(--white-color) transparent;
    right: 12px;
    top: -30px;
}
.header__notify::after {
    content: "";
    display: block;
    width: 100%;
    position: absolute;
    height: 20px;
    top: -3%;
}
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
}
.header__notify-header h3 {
    font-weight: 400;
    color: grey;
    font-size: 1.4rem;
    line-height: 40px;
    margin: 0 0 0 12px;
}
.header__notify-list {
    
}
.header__notify-item {
   
}
.header__notify-item:hover {
    background-color: #f1f1f1;
}
.header__notify-item--viewed {
    background-color:rgba(238, 75, 43, 0.1);
}
.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
   
}
.header__notify-img {
    width: 48px;
    object-fit: contain;
}
.header__notify-infor {
    margin-left: 12px;
    
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: black;
    font-weight: 400;
}
.header__notify-descriotion {
    display: block;
    font-size: 1.2rem;
    color: grey;
    line-height: 1.8rem;
}
.header__notify-footer {
    display: flex;
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 4px;
    width: 100%;
    padding: 13px px;
    font-weight: 400;
    text-align: center;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
  
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: white;
    margin: auto;
    position: relative;
    border-radius: 5px;
    animation: growth linear 0.2s;
}

/* auther--modal */
.auth-form {
    width: 500px;
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.author-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}
.author-form__switch-btn {
    font-size: 1.6rem;
    color: red;
    opacity: 0.8;
    cursor: pointer;
}
.author-form__form {
    margin-top: 20px;
}
.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 16px;
    padding: 0 12px;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: #888;
}
.auth-form__aside {
    margin-top: 16px;
}
.auth-form__policy {
    font-size: 1.3rem;
    line-height: 2rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
}
.auth-form__controls {
    margin-top: 80px;
    margin-bottom: 15px;
}
.autho-form__socials {
    background-color: #f5f5f5;
    padding: 14px ;
    display: flex;
    justify-content: space-between;
}
.btn .btn--size-s {
    height: 20px;
    font-size: 1.2rem;
}
.autho-form__social-icon {
    font-size: 1.8rem;
}

.autho-form__social--facebook {
    color: var(--white-color);
    background-color: #3A5A98;
    min-width: 30px;
}
.autho-form__social--facebook,
.autho-form__social-icon {
    color:var(--white-color);
    margin-left: 15px;

}
.autho-form__social--google {
    background-color: var(--white-color);
    color: #666;
   
}

.auth-form__socials-title {
    padding: 0 10px;
}
.autho-form__social-icon {
    padding: 0 12px;
}
.color__google {
    color: grey;
    font-size: 20px;
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
}
.auth-form__help-seperate {
    display: block;
    border-right: 1px solid #dbbebe;
    height: 18px;
    margin: 0 16px
}
.auth-form__help-link:first-child {
    color: var(--primary-color);
}
.auth-form__help-link:last-child {
    color: #ae9696;
}
.header-with-search {
    height: var(--header-with-search);
    display: flex;
    align-items: center;
}
.header__logo {
    width: 200px;
}
.header__logo-img {
    width: 150px;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}
.header__cart {
    width: 155px;
    text-align: center;
    
}

.header__search-input {
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding:0px 16px;
    border-radius: 2px;
    width: 100%;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-select {
    border-left: solid 1px #ccc;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
    
}
.header__search-option {
    position: absolute;
    right: 0;
    top: 100%;
    width: 125px;
    box-shadow: 0px 1px 3px black;
    margin-top: 15px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.2s;
}
.header__search-option::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 30px;
    top: -30px;
    left: 0;
    
}
.header__search-select:hover .header__search-option{
    display: block;
}
.header__search-option-item {
    background-color: var(--white-color);   
    padding: 8px 8px;
    list-style: none;
    
}
.header__search-option-item:hover {
    background-color: rgb(240 239 239);
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    
}
.header__search-option-item i {
    color: var(--primary-color);
    margin-left: 12px;
    display: none;
}
.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}
.header__search-select-icon {
    font-size: 1.4rem;
    color: grey;
    margin: 0 16px 0 10px;
    position: relative;
    top: 0.5px;
}
.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    outline: none;
}
.header__search-btn:hover {
    background-color: rgb(245, 95, 8);
    cursor: pointer;
}
.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
   
}

.header__search-option-item--active i{
    display: inline-block;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}
/* search history */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    border-radius: 2px;
    box-shadow:  0 1px 5px grey;
    background-color: var(--white-color);
    display: none;
    overflow: hidden;
}
.header__search-history-heading {
    margin: 10px 20px;
    font-size: 1.5rem;
    color: rgb(134, 122, 122);
    font-weight: 400;
}
.header__search-history-list {
    list-style: none;

}
.header__search-history-item {
    height: 30px;
    padding: 0 16px;
}
.header__search-history-item:hover {
    background-color: #fafafa;
}
.header__search-history-item a {
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    line-height: 30px;
    display: block;
}
.header__cart {
    
}
.header__cart-wrap:hover .header__cart-list {
    display: block;

}
.header__cart-list::after {
    content: "";
    position: absolute;
    right: 5px;
    top: -43px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}
.header__cart-icon {
    color: var(--white-color);
    font-size: 2.5rem;
}
.header__cart-list {
    position: absolute;
    top: calc(100% + 20px);
    right: -10px;
    background-color: var(--white-color);
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 2px 10px #ccc;
    display: none;
    animation: fadeIn ease-in 0.3s;
    cursor: default;
}
.header_cart-no-cart-img {
    width: 50%;
    max-height: 400px;
}
.header__cart-list-no-cart-msg {
    display: block;
    font-size: 1.6rem;
    color: var(--text-color);
    transform: translateY(-80px);
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
}
